<div class="apx_textSection my-md-5 my-3 py-md-5" style="<%- opt.backgroundImage ? 'background-image:url(' + opt.backgroundImage + ');' : ''%><%- opt.backgroundColor ? 'background-color:' + opt.backgroundColor + ';' : ''%>">
    <div class="container">
        <div class="row justify-content-center align-items-start">
            <div class="col-12 col-md-auto animate__animated animate__fadeInLeft animate__delay-1s">
                <% if(opt.title) {%>
                    <h3 class="text-center ccr_title mt-5 mb-3" style="<%- opt.titleColor ? 'color:' + opt.titleColor + ';' : ''%>"><%- opt.title %></h3>                        
                <% } %>
            </div>
            <div class="col-md col-12 py-md-0 py-3 animate__animated animate__fadeInRight animate__delay-2s">                
                <% if(opt.description) {%>
                    <p class="description" style="<%- opt.textColor ? 'color:' + opt.textColor + ';' : ''%>"><%- opt.description %></p>
                <% } %>
            </div>
        </div>           
    </div>        
</div>