<div class="apx_sliderItens" style="<%- opt.backgroundImage ? 'background:url(' + opt.backgroundImage + ');' : ''%>">
    <% if (Array.isArray(opt.options) && opt.options.length) { %>
        <div class="container pt-3 pb-5">
            <div class="row mb-4 justify-content-center">
                <div class="col-12 col-lg-8">
                    <% if(opt.title) {%>
                        <h3 class="text-center ccr_title mt-md-5 mt-3 mb-md-3 mb-1" style="<%- opt.titleColor ? 'color:' + opt.titleColor + ';' : ''%>"><%= opt.title %></h3>                        
                    <% } %>
                    <% if(opt.description) {%>
                        <p class="text-center" style="<%- opt.textColor ? 'color:' + opt.textColor + ';' : ''%>"><%= opt.description %></p>
                    <% } %>
                </div>
            </div>
            
             <div
             class="glide"
             data-autoplay="true"
             data-per-view="3"
             data-per-view-md="3"
             data-per-view-sm="1"
           >
             <div class="glide__track" data-glide-el="track">
               <ul class="glide__slides products-carousel__list">
                   <% for (let i = 0; i < opt.options.length; i++) { %>
                   <li class="glide__slide products-carousel__item">
                       <div class="item">
                           <% if (opt.options[i].option.image) { %>
                               <a href="<%= opt.options[i].option.link %>">
                                   <img
                                   src="<%= opt.options[i].option.image %>"
                                   class="card-img-top"
                                   alt="<%= opt.options[i].option.name %>"
                                   >
                               </a>
                           <% } %>
                           <strong style="<%- opt.titleColor ? 'color:' + opt.titleColor + ';' : ''%>"><%- opt.options[i].option.name %></strong>
                           <p style="<%- opt.textColor ? 'color:' + opt.textColor + ';' : ''%>"><%- opt.options[i].option.description %></p>
                       </div>
                   </li>
                   <% } %>
               </ul>
       
               <div
                 class="glide__arrows d-block d-md-none glide__arrows--outer"
                 data-glide-el="controls"
               >
                 <button
                   class="btn glide__arrow glide__arrow--left"
                   data-glide-dir="<"
                   aria-label="<%= _.dictionary('previous') %>"
                 >
                    <svg style="transform:rotate(90deg)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="41px" height="19px">
                    <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M1.618,1.789 L20.011,15.732 L38.381,1.789 "></path>
                    </svg>
                 </button>
                 <button
                   class="btn glide__arrow glide__arrow--right"
                   data-glide-dir=">"
                   aria-label="<%= _.dictionary('next') %>"
                 >
                 <svg style="transform:rotate(-90deg)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="41px" height="19px">
                    <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M1.618,1.789 L20.011,15.732 L38.381,1.789 "></path>
                    </svg>
                 </button>
               </div>
             </div>
           </div>
        </div>        
    <% } %>      
</div>

   