<%
var posts = _.cms('posts')
if(['blog','home'].includes(_.pageName)){
  if (Array.isArray(posts) && posts.length) {
    %>
      <div class="blog my-4 my-lg-5">
        <div class="container">
          <% if (_.pageName == "home"){ %>
            <% posts = posts.slice(0,4)%>
          <div class="row">
            <div class="col-12">
              <h3 class="text-center ccr_title">Artigos</h3>
            </div>
          </div>
          <% } %>
          <div class="row">
            <% posts.forEach(slug => { %>
              <% const { title, thumbnail, description } = _.cms(`posts/${slug}`) %>
              <div class="col col-md-<%= _.pageName == 'home' ? 6 : 4 %>">
                <div class="card">
                  <% if (thumbnail &&  _.pageName == 'blog' ) { %>
                    <a href="/posts/<%= slug %>">
                      <img
                        src="<%= thumbnail %>"
                        class="card-img-top"
                        alt="<%= title %>"
                      >
                    </a>
                  <% } %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="/posts/<%= slug %>">
                        <%= title %>
                      </a>
                    </h5>
                    <p class="card-text">
                      <%= description %>
                    </p>
                    <a class="btn" href="/posts/<%= slug %>">
                      Leia Mais
                    </a>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    <%
  } 
}else{
  if (Array.isArray(posts) && posts.length) {
    %>
      <div class="blog my-4 my-lg-5">
        <div class="container">
          <div class="row">
            <% posts.forEach(slug => { %>
              <% const { title, thumbnail, description } = _.cms(`posts/${slug}`) %>
              <div class="col col-md-6 col-lg-4">
                <div class="card">
                  <% if (thumbnail) { %>
                    <a href="/posts/<%= slug %>">
                      <img
                        src="<%= thumbnail %>"
                        class="card-img-top"
                        alt="<%= title %>"
                      >
                    </a>
                  <% } %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="/posts/<%= slug %>">
                        <%= title %>
                      </a>
                    </h5>
                    <p class="card-text">
                      <%= description %>
                    </p>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    <%
  }  
}
%>

