<%
// load header options and contacts from content
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

// list featured categories
let categories = []
let isCategoriesNavFull
if (header.categories_list) {
  if (header.categories_list.featured.length) {
    // selected categories/collections/brands
    categories = header.categories_list.featured.map(pathAndName => {
      const [path, name] = pathAndName.split('?')
      return { slug: path.slice(1), name }
    })
  }
  if (header.categories_list.random) {
    // add up to `random` main categories
    const mainCategories = _.categories.filter(({ parent }) => !parent || !parent.slug)
    for (let i = 0; i < header.categories_list.random && i < mainCategories.length; i++) {
      if (!categories.find(({ slug }) => mainCategories[i].slug === slug)) {
        categories.push(mainCategories[i])
      }
    }
  }
  isCategoriesNavFull = header.categories_list.full_width
}
%>

<div id="overlay" class="fade"></div>

<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>
</div>
<div id="ccr_mobile_menu" class="d-block d-md-none">
  <bytton type="button" class="ccr_mobile_menu_close">    
    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Close</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
  </bytton>
  <ul class="anchor-menu">
    <li>
      <a href="/#sobre-nos">
        Institucional
      </a>
    </li>
    <li>
      <a href="/#equipe">
        Equipe
      </a>
    </li>
    <li>
      <a href="/#areas-de-atuacao">
        Áreas de Atuação
      </a>
    </li>
    <li>
      <a href="/pages/sobre-nos">
        Advocacia Digital
      </a>
    </li>
    <li>
      <a href="/blog">
        Artigos
      </a>
    </li>
    <li>
      <a href="/pages/contato">
        Contato
      </a>
    </li>
  </ul>
</div>
<header class="header ccr_header" id="header">
  <div class="container">    
    <button type="button" class="d-block d-md-none ccr_mobile_menu_trigger">
      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Menu</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
    </button>
    <div id="ccr_client">
      <ul class="list-inline">
        <li>
          <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
              <image id="Objeto_Inteligente_de_Vetor" data-name="Objeto Inteligente de Vetor" width="20" height="20" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABj0lEQVQ4ja3Tv0uVcRTH8ZdWJDkYOGSbSItTOOomEhRNRoOD4Wj0H1hTIhGCq0XUEIRNGS4W1JqYOOhSS7c1KkhKlH7cRA6cC1d77vVBO/B9+HLO57w533PO07I8N6iBteEGxtCbkvd4jFn8LEprbQDrwhJm0In5PJ3pW0pNKWD4nqEPt9CNkTzd6etLzT/5RcBhDGAad1Cti1XTN52a4TLAq5l4t0E7ZKya2gOBPahgowlwIzU9ZYA/cLoJrGah2SoDXMUZ9DeB9admpQzwEX7jHjoK4h0Z+4OHZYAfcBPns9qR3LmuvK9mbCK1e+x4ATCe8h1fcA5P98UjNo4HRb2oB57FFK7hBP5iDR+xia94hwV8wym8wVvcxqd64CXM5eRe4z5eYLuoirTo8+esNvZxFC9bsx/z2eTLuJC/VTOYXOyLmbOD58EK4GRWGqDFAyBFtpi5wZgM4BBeYf0QsJqtJ2MogO050aNaDK+9toct/wF4LD7x7vjJr+QQfh0SdjKnXAlgXJ7g+hErrGB0F/2jVybbkQIIAAAAAElFTkSuQmCC"/>
            </svg>
            <b>Área do cliente</b>
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <ul class="anchor-menu">
          <li>
            <a href="/#sobre-nos">
              Institucional
            </a>
          </li>
          <li>
            <a href="/#equipe">
              Equipe
            </a>
          </li>
          <li>
            <a href="/#areas-de-atuacao">
              Áreas de Atuação
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-7 mobile-adjust-start">
        
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>
      <div class="col">
        <ul>
          <li>
            <a href="/pages/sobre-nos">
              Advocacia Digital
            </a>
          </li>
          <li>
            <a href="/blog">
              Artigos
            </a>
          </li>
          <li>
            <a href="/pages/contato">
              Contato
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
</header>
